= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited the brochure from sending:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p Sign up for our mailing list to receive the code academy brochure in your inbox!
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
    .field
  .actions
    = f.submit(value="Send email")