#main-header
  .container
    #logo
      = link_to image_tag( '/images/text_logo_03.png'), root_path          
    %nav
      %ul.header_links
        %li= active_link_to "Home", root_path
        %li= active_link_to "Program", program_path
        %li= active_link_to "Staff", staff_path
        %li= active_link_to "Community", community_path
        %li= active_link_to "Videos", videos_path
        %li= active_link_to "Pricing", pricing_path
        %li.last= active_link_to "Apply", apply_path
