%footer
  %h3
    Schedule a time to talk -
    %a{:href => "contact@codeacademy.org"} contact@codeacademy.org
  %ul#social
    %li= link_to 'Download PDF', new_user_path
    %li Twitter
    %li Facebook


  %nav
    %ul.footer_links
      = link_to "Home", root_path
      %li= link_to "Program", program_path
      %li= link_to "Staff", staff_path
      %li= link_to "Community", community_path
      %li= link_to "Videos", videos_path
      %li.last= link_to "Apply", apply_path
    %div{:style => "clear:both;"}
    
    