<div class="container" id="header">
  <div class="row">
    <h2>Code Academy</h2>
    <nav>		
      <ul>
        <%= link_to "Home", root_path %>
        <%= link_to "Program", program_path %>
        <%= link_to "Staff", staff_path %>
        <%= link_to "Community", community_path %>
        <%= link_to "Videos", videos_path %>
        <%= link_to "Apply", apply_path %>
      </ul>
      <div style="clear:both;"></div>	
    </nav>
  </div>
</div>