#main-header
  .container
    #logo
      = link_to image_tag( '/images/text-logo.png'), root_path
          
      %nav
        %ul.header_links
          %li= link_to "Home", root_path
          %li= link_to "Program", program_path
          %li= link_to "Staff", staff_path
          %li= link_to "Community", community_path
          %li= link_to "Videos", videos_path
          %li.last= link_to "Apply", apply_path