<div id="main-header">
  <div class="wrapper">  
    <h2><%= link_to "Code Academy", root_path %></h2>
    <nav>		
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Program", program_path %></li>
        <li><%= link_to "Staff", staff_path %></li>
        <li><%= link_to "Community", community_path %></li>
        <li><%= link_to "Videos", videos_path %></li>
        <li><%= link_to "Apply", apply_path %></li>
      </ul>
      <div style="clear:both;"></div>	
    </nav>
  </div>
</div>