<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMayhem</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/home' %>
    <%= render 'layouts/program' %>
    <%= render 'layouts/instructors' %>
    <%= render 'layouts/schedule' %>
    <%= render 'layouts/location' %>
    <%= render 'layouts/partners' %>
    <%= render 'layouts/apply' %>
  </body>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
