!!!
%html
  %head
    %title ProjectMayhem
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = render 'layouts/nav'
    = render 'layouts/javascripts'
  %body
    = yield
  %footer
    = render 'layouts/footer'