!!!
%html
  %head
    %title Code Academy - Learn Ruby on Rails. 
    = csrf_meta_tag
    = yield :html_description
    - content_for :html_description do 
      Code Academy is a 12-week on-site program teaches beginners Ruby on Rails.
    %link{:href => "../images/favicon.ico", :rel => "shortcut icon"}/
    = render 'shared/stylesheets'
    = render 'shared/javascripts'
  %body
    %header
      = render 'shared/nav'
    = yield
    %footer
      = render 'shared/footer'
    = render 'shared/analytics'
    = render 'shared/lightbox' unless params[:action] == 'apply'
