!!!
%html
  %head
    %title Code Academy - Learn Ruby on Rails. 
    = csrf_meta_tag
    %link{:href => "../images/favicon.ico", :rel => "shortcut icon"}/
    = render 'layouts/stylesheets'
    = render 'layouts/javascripts'
  %body
    %header
      = render 'layouts/nav'
    = yield
    %footer
      = render 'layouts/footer'
    = render 'layouts/analytics'
    = render 'layouts/lightbox' unless current_page?({:action => :apply})
