<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMayhem</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= render 'layouts/nav' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
